[submodule "lib/stxxl"]
	path = lib/stxxl
	url = git://github.com/stxxl/stxxl.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/libigl/eigen
[submodule "lib/bitmap"]
	path = lib/bitmap
	url = git://github.com/ArashPartow/bitmap.git
