[submodule "lib/stxxl"]
	path = lib/stxxl
	url = git://github.com/stxxl/stxxl.git
[submodule "lib/Eigen"]
	path = lib/Eigen
	url = http://bitbucket.org/eigen/eigen/get/3.3.7.tar.bz2
[submodule "lib/bitmap"]
	path = lib/bitmap
	url = git://github.com/ArashPartow/bitmap.git
