[submodule "lib/Eigen"]
	path = lib/Eigen
	url = https://github.com/libigl/eigen.git
[submodule "lib/bitmap"]
	path = lib/bitmap
	url = git://github.com/ArashPartow/bitmap.git
[submodule "lib/boost"]
	path = lib/boost
	url = https://github.com/boostorg/boost
